/* styles/Home.module.css */
.carouselTagline {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.widgetsSection {
  padding: 60px 0;
}

.contactFormSection {
  padding: 60px 0;
}